In [1]:
import numpy as np
import pandas as pd

In [6]:
a = np.array([3,2,2,2])
np.linalg.norm(a,ord=3)

3.708429769266189

In [8]:
51**(1/3)

3.708429769266189

In [9]:
sales = [('acc',['A','B','C','D']) , ('Jan2022',[150,50,200]) , ('Feb2022',[10,20,30]) , ('Mar2022',[17,33,2]) ]

In [19]:
sales = [('Jan2022',150,50,200) , ('Feb2022',10,20,30) , ('Mar2022',17,33,2) ]
pd.DataFrame.from_records(sales , columns = ['acc','A','B','C'] )

       acc    A   B    C
0  Jan2022  150  50  200
1  Feb2022   10  20   30
2  Mar2022   17  33    2

In [20]:
pd.__version__

'1.4.2'